@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport/Aeroport.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport/Aeroport-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport/Aeroport-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport/Aeroport-LightItalic.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Aeroport";
  src: url("../fonts/Aeroport/Aeroport-Medium.ttf");
  font-weight: 600;
}
