:root {
  --dark: #050b1c;
  --dark-80: #111927;
  --dark-60: #1c2533;
  --yellow: #ffda55;
  --yellow-gradient: linear-gradient(270deg, #ffda55 0%, #ffcd18 100%);
  --gray: #848a9c;
  --white: #ffffff;
}
